{# <h1>{Bienvenue {nom} clique ici pour te connecter}</h1> #}
<h1>Bienvenue {{ nom }} clique <a href="{{url('api_users_change_collection',{'token':token})}}"> ici</a> pour  connecter</h1>
{# {{Bienvenue {nom }}} #}
{# <a href="{{url('api_users_change_collection',{'token':token})}}"> #}
{# </a> #}